<div  id="container-top" matRipple >
  <div class="container-fluid d-flex" style="overflow: hidden;" >
    <div class="col-3"><img class="blue" src="../assets/images/Blue.png" alt=""></div>
    <div class="col-3"><img class="green img-fluid" src="../assets/images/Green.png" alt=""></div>
    <div class="col-3"><img class="red img-fluid" src="../assets/images/Red.png" alt=""></div>
    <div class="col-3 yellow"><img class=" img-fluid" src="../assets/images/Yellow.png" alt=""></div>
  
  </div>
  <div class="container-fluid">
    <div class="container text-center d-flex justify-content-center">
      <img src="../assets/images/newlogo (1).png" class="logo" alt="logo fl" cdkDrag>
      <div class="card-site rounded bg-emanuela">
        <button class="shadow rounded title px-3">
          <a href="https://emanuelasandu.com/" target="_blank">
            www.emanuelasandu.com <i class="fa-solid fa-globe"></i>
          </a>
        </button>
        <div class="mt-4 p-2 disappear">
          <p class="descrizione text-start">Nel sito l'artista mostra alcune delle sue opere, delle sue collaborazioni e dei servizi che offre a un potenziale cliente.</p>
        </div>
        <div class="disappear">
          <a target="_blank" class="pe-3 look" href="https://emanuelasandu.com/">Guarda il sito <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>

      <div class="card-site rounded bg-alex">
        <button class="shadow rounded title px-3">
          <a href="https://fisioalex.it/" target="_blank">
            www.fisioalex.it <i class="fa-solid fa-globe"></i>
          </a>
        </button>
        <div class="mt-4 p-2 disappear">
          <p class="descrizione text-start">Nel sito vengono esposti i servizi offerti dallo studio del professionista.</p>
        </div>
        <div class="disappear">
          <a target="_blank" class="pe-3 look" href="https://fisioalex.it/">Guarda il sito <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>

      <div class="card-site rounded bg-crypto">
        <button class="shadow rounded title px-3">
          <a href="https://nuovaeracrypto.com/" target="_blank">
            www.nuovaeracrypto.com <i class="fa-solid fa-globe"></i>
          </a>
        </button>
        <div class="mt-4 p-2 disappear">
          <p class="descrizione text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet vitae eveniet
            tempore veritatis corporis nostrum, magni rerum. Aliquam iure necessitatibus facere a fugit maxime, cum illum
            voluptatum dolorem suscipit at!</p>
        </div>
        <div class="disappear">
          <a target="_blank" class="pe-3 look" href="https://nuovaeracrypto.com/">Guarda il sito <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>

      <div class="card-site rounded bg-marco">
        <button class="shadow rounded title px-3">
          <a href="https://marcopizzituti.it/" target="_blank">
            www.marcopizzituti.it <i class="fa-solid fa-globe"></i>
          </a>
        </button>
        <div class="mt-4 p-2 disappear">
          <p class="descrizione text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet vitae eveniet
            tempore veritatis corporis nostrum, magni rerum. Aliquam iure necessitatibus facere a fugit maxime, cum illum
            voluptatum dolorem suscipit at!</p>
        </div>
        <div class="disappear">
          <a target="_blank" class="pe-3 look" href="https://marcopizzituti.it/">Guarda il sito <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>



